* {
  margin: auto;
}

body {
  background-color: black;
}

.square-section {
  width: 350px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(114, 173, 153);
}

.content-section {
  margin: 0 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-part {
  color: white;
  font-size: 28px;
}

.motiv-part {
  color: white;
  font-size: 24px;
  margin-top: 50px;
  padding: 25px;
  text-align: center;
}

button {
  width: 150px;
  height: 35px;
  margin-top: 70px;
  position: static;
  font-size: 16px;
  background-color: black;
  color: beige;
}